 * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        body {
            background-image: url("/static/images/friends.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            height: 100%;
        }

        .navibar {
            top: 0px;
            position: fixed;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            justify-content: space-around;
            align-items: center;
            padding: 20px;
            background-color: #79d976;
            z-index: 1000;
        }

        .navi {
            list-style: none;
            display: flex;
            gap: 10px;
            flex-wrap: wrap;
            margin: 0;
            padding: 0;
        }

        .navi li a {
            text-decoration: none;
            color: rgb(31, 28, 28);
            font-weight: bold;
            text-align: center;
            margin-left: 20px;
        }

        .navi li a:hover {
            color: rgb(255, 255, 255);
        }

        .file {
            margin-top: 3em;
            text-align: center;
        }

        .file input[type="file"] {
            margin-left: 9em;
        }

        #friends-checkboxes,
        #dropdown {
            margin-top: 20px;
            text-align: center;
        }

        button {
            padding: 8px 15px;
            font-weight: bold;
            background: #ebede8;
            border: 1px solid #aaa;
            border-radius: 5px;
            cursor: pointer;
        }

        .shared-container {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            margin: 30px auto;
            padding: 10px;
            justify-content: center;
        }

        .shared_card {
            border: 1px solid #ccc;
            padding: 10px;
            border-radius: 8px;
            width: 220px;
            text-align: center;
            background-color: #d6e1b0;

        }

        .shared_pic {
            width: 100%;
            height: 150px;
            object-fit: cover;
            border-radius: 5px;
        }

        .elses {
            display: none;
            text-align: center;
            color: rgb(198, 28, 28);
            font-weight: bold;
            cursor: pointer;
        }

        .request-form {

            text-align: center;
            text-decoration: none;

        }

        .frnd-email-input {
            margin-top: 20px;
            text-align: center;
            /* padding: 20px 50px 40px 50px; */
            background-color: #e1f0f4;
            border-radius: 12px;
            width: 350px;
            margin-left: auto;
            margin-right: auto;
            padding: 0 0 10px 0;

        }

        /* .request-form a {
            border: 3px double black;
            border-radius: 6px;


        } */

        .welcome {
            font-weight: bold;
            font-size: 18px;
            cursor: pointer;
            margin-left: auto;
        }

        .dropdown {
            margin-right: 20px;
        }

        @media screen and (max-width: 430px) {
            .file input[type="file"] {
                margin-left: 2em;
            }

            #friends-checkboxes input[type="checkbox"] {
                margin-left: 3em;
            }
        }

        .more-frnd {
            background-color: rgb(183, 183, 195);
            width: 150px;
            margin: auto;
            border-radius: 8px;
            border: 2px solid white;
        }

        .more-frnd h3 {
            cursor: pointer;
        }

        .view-req-link {
            text-decoration: none;
            border: 2px dashed black;
            box-shadow: 0px 0px 11px 0px #000000;
            padding: 5px 5px 5px 5px;
            font-size: 24px;
            color: #222;
            position: relative;
            /* background-color: #d6e1b0; */
            animation: color-blink 2s infinite alternate;
            /* 2s duration, infinite loop, alternates direction */
        }

        @keyframes color-blink {
            0% {
                color: red;
                /* Starting color */
            }

            50% {
                color: rgb(0, 68, 255);
                /* Middle color */
            }

            100% {
                color: rgb(255, 68, 0);
                /* Ending color */
            }
        }

        .dot {
            height: 8px;
            width: 8px;
            background-color: red;
            border-radius: 50%;
            display: inline-block;
            margin-left: 1px;
        }